<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
			<img src="_layouts/PD-singlecolor.png">
			<center><h1>Paradyn Tools Project</h1></center>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/publications">Publications</a></li>
		        	<li><a href="/manuals">Manuals</a></li>
	        		<li><a href="/software">Software</a></li>
	        		<li><a href="/staff">Staff</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
